sphinx_copybutton
jupytext
sphinxcontrib.bibtex
sphinx_autodoc_typehints
sphinxcontrib.apidoc
sphinx-book-theme
sphinx_design
sphinx-togglebutton
sphinx == 4.2
recommonmark
myst_nb
plotly
rrcf
tdigest
setuptools==58.2.0